<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.cacomplex.vaz">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CAComplex"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.app.cacomplex.vaz.Vistaprevia2"
            android:exported="true" />
        <activity
            android:name="com.app.cacomplex.vaz.camaraGalle"
            android:exported="true"  >

        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

    </activity>

        <activity
            android:name="com.app.cacomplex.vaz.vistaPick"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.app.cacomplex.vaz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.app.cacomplex.vaz.MainActivity"
            android:exported="true">

        </activity>
        <activity
            android:name="com.app.cacomplex.vaz.VistaPrevia"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.cacomplex.vaz.web2"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.app.cacomplex.vaz.Edicion"
            android:parentActivityName="com.app.cacomplex.vaz.VistaPrevia"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cacomplex.vaz.VistaPrevia" />
        </activity>
        <activity
            android:name="com.app.cacomplex.vaz.AcercaDe2"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name="com.app.cacomplex.vaz.CortarImagen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarPrincipal" />
        <activity
            android:name="com.app.cacomplex.vaz.MainActivityVisualizarFoto"
            android:parentActivityName="com.app.cacomplex.vaz.VistaPrevia"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.app.cacomplex.vaz.VistaPrevia" />
        </activity>


        <meta-data
            android:name="CLOUDINARY_URL"
            android:value="cloudinary://716775653773615:8DT7Rl0o0Ts3cWE0U1vTDfJq1po@hevaz" />
    </application>

</manifest>